<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <h1>Welcome!</h1>
      <p>
        This website is about building web apps with Node.js and JavaScript!
      </p>
      <a href="/media/nodejs.png">
        <img src="/media/nodejs.png" alt="" />
      </a>
      <p style="font-size: 12px; margin-top: -30px; margin-bottom: 20px">
        If you click on the image it will take you to the direct url for the
        image.
      </p>
      <button class="bg">Change Background</button>
    </div>

    <script src="js/app.js"></script>
  </body>
</html>
