* {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #eaeaea;
  font-family: var(--ft);
}

@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --ft: "Readex Pro", sans-serif;
  --black: #191919;
  --white: #eaeaea;
  --primary: #3b43de;
}

nav {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 60px;
  background-color: var(--black);
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--white);
}

nav ul li {
  margin-left: 36px;
}
nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  transition: ease 0.2s;
}

nav ul li a:hover {
  color: var(--primary);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: var(--primary);
  margin-bottom: 40px;
  text-decoration: underline;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
}

.form input {
  width: 300px;
  height: 60px;
  font-family: var(--ft);
  border: none;
  border-bottom: 2px solid var(--black);
  background-color: var(--white);
}

.form input:focus {
  outline: none;
  border-bottom: 2px solid var(--primary);
  box-shadow: none;
}

.form textarea {
  width: 300px;
  height: 160px;
  font-family: var(--ft);
  border: none;
  border: 2px solid var(--black);
  border-radius: 20px;
  background-color: var(--white);
  padding: 10px;
}

.form textarea:focus {
  outline: none;
  border: 2px solid var(--primary);
  box-shadow: none;
}

button {
  border: 1px solid var(--black);
  padding: 14px;
  width: 280px;
  font-family: var(--ft);
  border-radius: 40px;
  position: relative;
  background-color: var(--white);
  transition: all 0.2s ease-out;
  margin-top: 30px;
  color: var(--black);
  cursor: pointer;
}

button:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  color: var(--white);
}
